{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": ["./tsconfig.json", "test/tsconfig.json"],
  },
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:@typescript-eslint/eslint-recommended"
  ],
  "rules": {
    "no-console": "off",
    "no-warning-comments": "off",
    "@typescript-eslint/restrict-template-expressions": "off"
  }
}
