{
  "extends": [
    "oclif",
    "oclif-typescript"
  ],
  "rules": {
    "indent": ['error', 2, {SwitchCase: 0}],
    "max-params": "off",
    "no-console": "off",
    "no-useless-constructor": "off",
    "no-warning-comments": "off"
  }
}
