.wrapper {
    display: flex;
    flex-flow: row wrap;
}

.logo, .breadcrumb, .menu, .main {
    flex: 1 100%;
}

.logo {
    padding: 4px;
}

.breadcrumb {
    background: #ccccff;
    padding: 4px;
    display: flex;
}

.breadcrumb-content {
    align-self: flex-end;
}

.menu {
    background: #dddddd;
    color: white;
    padding: 4px;
    border: 1pt solid black;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main {
    padding: 4px;
}

@media all and (min-width: 800px) {
    .logo { flex: 0 auto; }
    .breadcrumb { flex: 1 auto; }
    .menu { flex: 1 auto; }
    .main { flex: 2 80%; }
}
